.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: white;
}

.cuerpo__contenedorPersonal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0%;
}

.cuerpo__contenedorPersonal div {
  width: 100%;
  overflow: hidden;
  height: 70vh;
}

.cuerpo__contenedorPersonal div .indicadoresCentrados {
  margin: 0%;
  background-color: rgba(0, 0, 0, 0.2);
}

.cuerpo__contenedorPersonal div .indicadoresCentrados li {
  background-color: white;
}

.cuerpo__contenedorPersonal div .indicadoresAtrasAdelante {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: 75%;
  border-radius: 15px;
}

.cuerpo__contenedorPersonal div .imagenPersonal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cuerpo__contenedorPersonal div .imagenPersonal .img {
  width: 100%;
}

.cuerpo__conenedorImagenesCategorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff5e3;
  width: 100%;
}

.cuerpo__conenedorImagenesCategorias a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin: 2px;
}

.cuerpo__conenedorImagenesCategorias a img {
  width: 100%;
}

.cuerpo__conenedorImagenesCategorias div {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  margin: 5%;
}

.cuerpo__conenedorImagenesCategorias div:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.cuerpo__recomendaciones div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cuerpo__recomendaciones div img {
  width: 20%;
  margin-bottom: 10px;
}

.cuerpo__recomendaciones div p {
  padding: 50px 0px;
}

.cuerpo__seccion {
  padding: 1%;
}

.cuerpo__seccion--formatoTituloSeccion {
  color: red;
  font-size: 5em;
  letter-spacing: 0.1em;
}

.cuerpo__seccion--formatoTextoContenido {
  color: #646464;
  font-size: 1.5em;
}

.cuerpo__seccionDocencia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  -ms-grid-rows: 100px 200px 200px 200px 200px 200px 200px 200px;
      grid-template-rows: 100px 200px 200px 200px 200px 200px 200px 200px;
      grid-template-areas: "margenIzq0 tituloDocencia tituloDocencia tituloDocencia margenDer0"  "margenIzq1 texto1 texto1 imagen1 margenDer1" "margenIzq2 imagen2 texto2 texto2 margenDer2" "margenIzq3 texto3 texto3 imagen3 margenDer3" "margenIzq4 imagen4 texto4 texto4 margenDer4" "margenIzq5 texto5 texto5 imagen5 margenDer5" "margenIzq6 imagen6 texto6 texto6 margenDer6" "margenIzq7 texto7 texto7 imagen7 margenDer7";
}

.cuerpo__seccionDocencia .tituloDocencia {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: tituloDocencia;
}

.cuerpo__seccionDocencia .tituloDocencia h1 {
  padding-top: 25px;
  font-size: 5em;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.cuerpo__seccionDocencia_texto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: texto1;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: right;
}

.cuerpo__seccionDocencia_texto2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: texto2;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}

.cuerpo__seccionDocencia_texto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: texto3;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: right;
}

.cuerpo__seccionDocencia_texto4 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: texto4;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}

.cuerpo__seccionDocencia_texto5 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: texto5;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: right;
}

.cuerpo__seccionDocencia_texto6 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: texto6;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
}

.cuerpo__seccionDocencia_texto7 {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: texto7;
  background-color: #ffeaaf;
  margin: 10px 5px;
  padding: 30px;
  border-radius: 20px;
  text-align: right;
}

.cuerpo__seccionDocencia_imagen1 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: imagen1;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagen2;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen3 {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
  grid-area: imagen3;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: imagen4;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen5 {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
  grid-area: imagen5;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen6 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: imagen6;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo__seccionDocencia_imagen7 {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
  grid-area: imagen7;
  margin: 10px 5px;
  border-radius: 20px;
  overflow: hidden;
}

.cuerpo table {
  border-collapse: collapse;
  border-color: blue;
}

.cuerpo table th {
  background-color: blue;
  color: white;
}

.cuerpo form .centrado {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-inline: 0px;
}

/*MOBILE**********************************/
@media only screen and (max-width: 480px) {
  .cuerpo__contenedorPersonal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cuerpo__conenedorImagenesCategorias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cuerpo__conenedorImagenesCategorias a {
    font-size: 3.5em;
    letter-spacing: 0.1em;
    margin: 2px;
  }
  .cuerpo form .centrado {
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-inline: 0px;
  }
}
/*# sourceMappingURL=cuerpo.css.map */