.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-block: 3px;
}

.cuerpo__contenedorPersonal {
  background: url("../media/personal.webp");
  background-size: 100%;
}

.cuerpo__contenedorPersonal .contenedorTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
  background-size: 100%;
  background-position: top;
  width: 100%;
  margin: 0%;
  height: 75vh;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div {
  padding-block: 5vh;
  color: white;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
  font-size: 3em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
  font-size: 2em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
  font-size: 2em;
}

.cuerpo__conenedorImagenesCategorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff5e3;
  width: 100%;
}

.cuerpo__conenedorImagenesCategorias div {
  margin: 2%;
}

.cuerpo__conenedorImagenesCategorias a {
  text-decoration: none;
  text-align: center;
}

.cuerpo__conenedorImagenesCategorias a p {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.cuerpo__conenedorImagenesCategorias a img {
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px #919191);
          filter: drop-shadow(0 4px 4px #919191);
}

.cuerpo__conenedorImagenesCategorias div {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  margin-block: 5%;
}

.cuerpo__conenedorImagenesCategorias div:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.cuerpo__seccion--formatoTituloSeccion {
  padding-block: 12px;
  font-size: 4em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0%;
  padding-left: 5%;
}

.cuerpo__seccion--formatoTextoContenido {
  color: #646464;
  font-size: 1.5em;
}

.cuerpo__seccionRecomendaciones {
  background-image: url(../media/fondosSecciones/recomendaciones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 4fr 1fr;
      grid-template-columns: 1fr 1fr 4fr 1fr;
  -ms-grid-rows: 100px 220px 220px 220px 220px;
      grid-template-rows: 100px 220px 220px 220px 220px;
      grid-template-areas: "margenIzq0 tituloRecomendaciones tituloRecomendaciones margenDer0"  "margenIzq1 imagen1 texto1 margenDer1" "margenIzq2 imagen2 texto2 margenDer2" "margenIzq3 imagen3 texto3 margenDer3" "margenIzq4 imagen4 texto4 margenDer4";
}

.cuerpo__seccionRecomendaciones .tituloRecomendaciones {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: tituloRecomendaciones;
  color: white;
}

.cuerpo__seccionRecomendaciones_texto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: texto1;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto1 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto1 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: texto2;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto2 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto2 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: texto3;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto3 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto3 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto4 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: texto4;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto4 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto4 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_imagen1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagen1;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen1 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagen2;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen2 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: imagen3;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen3 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: imagen4;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen4 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionContacto {
  background-image: url("../media/fondosSecciones/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenContacto tituloContacto" "imagenContacto textoContacto";
  color: white;
}

.cuerpo__seccionContacto .tituloContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloContacto;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionContacto .imagenContacto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenContacto;
}

.cuerpo__seccionContacto .textoContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoContacto;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 2%;
}

.cuerpo__seccionContacto .textoContacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cuerpo__seccionContacto .textoContacto form .centrado {
  text-align: center;
  padding-inline: 0px;
  width: 60%;
  margin-block: 5px;
}

.cuerpo__seccionContacto .textoContacto form .centrado input, .cuerpo__seccionContacto .textoContacto form .centrado select, .cuerpo__seccionContacto .textoContacto form .centrado textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.cuerpo__seccionContacto .textoContacto form .centrado button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.cuerpo__seccionConsultoria {
  background-image: url("../media/fondosSecciones/consultoria.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenConsultoria tituloConsultoria" "imagenConsultoria textoConsultoria";
  color: white;
}

.cuerpo__seccionConsultoria .tituloConsultoria {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloConsultoria;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionConsultoria .imagenConsultoria {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenConsultoria;
}

.cuerpo__seccionConsultoria .textoConsultoria {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoConsultoria;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionConsultoria .textoConsultoria ul {
  margin-block: 25px;
}

.cuerpo__seccionConsultoria .textoConsultoria h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionConsultoria .textoConsultoria h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionConsultoria .textoConsultoria h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo__seccionDocencia {
  background-image: url("../media/fondosSecciones/docencia2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenDocencia tituloDocencia" "imagenDocencia textoDocencia";
  color: white;
}

.cuerpo__seccionDocencia .tituloDocencia {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloDocencia;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionDocencia .imagenDocencia {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenDocencia;
}

.cuerpo__seccionDocencia .textoDocencia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoDocencia;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionDocencia .textoDocencia ul {
  margin-block: 25px;
}

.cuerpo__seccionDocencia .textoDocencia h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionDocencia .textoDocencia h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionDocencia .textoDocencia h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo table {
  border-collapse: collapse;
  border-color: blue;
}

.cuerpo table th {
  background-color: blue;
  color: white;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  .cuerpo {
    width: 100%;
  }
  .cuerpo__contenedorPersonal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: auto;
    background-size: cover;
  }
  .cuerpo__contenedorPersonal .contenedorTexto {
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 20vh,rgba(0, 0, 0, 0.7) 60vh, rgba(0, 0, 0, 0));*/
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
    width: 90%;
    text-align: center;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div {
    padding-block: 5vh;
    color: white;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
    font-size: 6em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
    font-size: 3.5em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
    font-size: 3em;
  }
  .cuerpo__conenedorImagenesCategorias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-inline: 0%;
  }
  .cuerpo__conenedorImagenesCategorias div {
    margin: 5%;
  }
  .cuerpo__conenedorImagenesCategorias a {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  .cuerpo__conenedorImagenesCategorias div:hover {
    -webkit-transform: none;
            transform: none;
  }
  .cuerpo__seccion {
    padding: 0%;
  }
  .cuerpo__seccion--formatoTituloSeccion {
    padding: 0px;
    font-size: 5em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    margin-inline: 50px;
  }
  .cuerpo__seccion--formatoTextoContenido {
    color: #646464;
    font-size: 1.5em;
  }
  .cuerpo__seccionContacto {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionContacto .tituloContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionContacto .textoContacto {
    padding-inline: 0px;
  }
  .cuerpo__seccionContacto .textoContacto form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cuerpo__seccionContacto .textoContacto form .centrado {
    width: 90%;
  }
  .cuerpo__seccionConsultoria {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionConsultoria .imagenConsultoria {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: imagenConsultoria;
  }
  .cuerpo__seccionConsultoria .tituloConsultoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionConsultoria .textoConsultoria {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul {
    margin-block: 15px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
  .cuerpo__seccionDocencia {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionDocencia .tituloDocencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionDocencia .textoDocencia {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionDocencia .textoDocencia ul {
    margin-block: 15px;
  }
  .cuerpo__seccionDocencia .textoDocencia h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionDocencia .textoDocencia h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionDocencia .textoDocencia h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionDocencia .textoDocencia h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionDocencia .textoDocencia h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
}
/*# sourceMappingURL=cuerpo.css.map */