* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  width: 99.9%;
  background-color: white;
}

p {
  margin-bottom: 0em;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  body {
    font-size: 5px;
    margin: 0%;
  }
}

@media only screen and (min-width: 575px) and (max-width: 1024px) {
  body {
    font-size: 8px;
    margin: 0%;
  }
}

/*ENCABEZADO*********************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../media/head2.jpg");
  background-size: 100%;
}

header .encabezado {
  height: 140px;
  text-align: center;
  color: white;
  text-shadow: black 0.01em 0.01em 0.8em;
  font-weight: 300;
}

header .encabezado__texto--titulo {
  margin-top: 40px;
  letter-spacing: 15px;
  font-size: 4em;
}

header .encabezado__texto--titulo span {
  font-weight: 700;
}

header .encabezado__texto--subtitulo {
  margin-top: 5px;
  font-size: 1.5em;
  letter-spacing: 2px;
}

header .menu {
  background-color: rgba(116, 104, 77, 0.479);
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

header .menu .item_recomedaciones a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

header .menu .item_contacto {
  width: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 10%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .item_contacto div {
  width: 25%;
}

header .menu .item_secciones a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

header .menu .item_secciones a img {
  display: none;
}

header .menu .iconoMenu {
  height: 25px;
  -webkit-filter: drop-shadow(2px 2px 3px black);
          filter: drop-shadow(2px 2px 3px black);
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  header .encabezado {
    height: 120px;
  }
  header .encabezado__texto--titulo {
    letter-spacing: 5px;
    font-size: 7em;
    margin-top: 25px;
  }
  header .encabezado__texto--subtitulo {
    font-size: 2.5em;
    letter-spacing: 1px;
  }
  header .backgroundGradient {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(116, 104, 77, 0.479)), color-stop(60%, #74684d));
    background: linear-gradient(180deg, rgba(116, 104, 77, 0.479) 10%, #74684d 60%);
  }
  header .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 150px;
    padding: 0px;
    height: auto;
    width: 100%;
  }
  header .menu .item_home {
    border-right-style: solid;
    border-right-color: white;
    width: 29%;
    height: 30px;
    text-align: center;
    margin-block: 15px;
  }
  header .menu .item_recomedaciones {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: black 0em 0.1em 0.8em;
    border-right-style: solid;
    border-right-color: white;
    height: 40px;
  }
  header .menu .item_contacto {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
    height: 30px;
    margin-block: 15px;
  }
  header .menu .item_contacto div {
    width: 20%;
  }
  header .menu .item_secciones {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 2em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: black 0em 0.1em 0.8em;
    width: 15%;
    position: relative;
    left: -3%;
    margin-bottom: 5px;
  }
  header .menu .item_secciones a p {
    display: none;
  }
  header .menu .item_secciones a img {
    display: block;
    width: 150%;
    -webkit-filter: drop-shadow(5px 5px 5px black);
            filter: drop-shadow(5px 5px 5px black);
  }
  header .menu .iconoMenu {
    -webkit-filter: drop-shadow(0 1px 1px black);
            filter: drop-shadow(0 1px 1px black);
  }
}

@media only screen and (min-width: 575px) and (max-width: 1024px) {
  header .menu .item_contacto {
    width: 20%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.cuerpo__contenedorPersonal {
  background: url("../media/personal.webp");
  background-size: cover;
}

.cuerpo__contenedorPersonal .contenedorTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
  height: 75vh;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div {
  padding-block: 5vh;
  color: white;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
  font-size: 3em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
  font-size: 2em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
  font-size: 2em;
}

.cuerpo__conenedorImagenesCategorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff5e3;
}

.cuerpo__conenedorImagenesCategorias div {
  margin: 5% 2%;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.cuerpo__conenedorImagenesCategorias div a {
  text-decoration: none;
}

.cuerpo__conenedorImagenesCategorias div a p {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-align: center;
}

.cuerpo__conenedorImagenesCategorias div a img {
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px #919191);
          filter: drop-shadow(0 4px 4px #919191);
}

.cuerpo__conenedorImagenesCategorias div:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.cuerpo__seccion--formatoTituloSeccion {
  padding-block: 12px;
  font-size: 4em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0%;
  padding-left: 5%;
  color: white;
}

.cuerpo__seccion--formatoContenedorTitulo {
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccion--formatoTextoContenido {
  color: #646464;
  font-size: 1.5em;
}

.cuerpo__seccionRecomendaciones {
  background-image: url(../media/fondosSecciones/recomendaciones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 5fr 1fr;
      grid-template-columns: 1fr 2fr 5fr 1fr;
  -ms-grid-rows: 80px auto auto auto auto auto auto;
      grid-template-rows: 80px auto auto auto auto auto auto;
      grid-template-areas: "margenIzq0 tituloRecomendaciones tituloRecomendaciones margenDer0"  "margenIzq1 imagen1 texto1 margenDer1" "margenIzq2 imagen2 texto2 margenDer2" "margenIzq3 imagen3 texto3 margenDer3" "margenIzq4 imagen4 texto4 margenDer4" "margenIzq5 imagen5 texto5 margenDer5" "margenIzq6 imagen6 texto6 margenDer6";
}

.cuerpo__seccionRecomendaciones .tituloRecomendaciones {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: tituloRecomendaciones;
}

.cuerpo__seccionRecomendaciones .rot_-10deg {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.cuerpo__seccionRecomendaciones .rot_-9deg {
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
}

.cuerpo__seccionRecomendaciones .rot_-8deg {
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.cuerpo__seccionRecomendaciones .rot_-7deg {
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
}

.cuerpo__seccionRecomendaciones .rot_-6deg {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.cuerpo__seccionRecomendaciones .rot_-5deg {
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.cuerpo__seccionRecomendaciones .rot_-4deg {
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.cuerpo__seccionRecomendaciones .rot_-3deg {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.cuerpo__seccionRecomendaciones .rot_-2deg {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.cuerpo__seccionRecomendaciones .rot_-1deg {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.cuerpo__seccionRecomendaciones .rot_0deg {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cuerpo__seccionRecomendaciones .rot_1deg {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.cuerpo__seccionRecomendaciones .rot_2deg {
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

.cuerpo__seccionRecomendaciones .rot_3deg {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.cuerpo__seccionRecomendaciones .rot_4deg {
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
}

.cuerpo__seccionRecomendaciones .rot_5deg {
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.cuerpo__seccionRecomendaciones .rot_6deg {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.cuerpo__seccionRecomendaciones .rot_7deg {
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

.cuerpo__seccionRecomendaciones .rot_8deg {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.cuerpo__seccionRecomendaciones .rot_9deg {
  -webkit-transform: rotate(9deg);
          transform: rotate(9deg);
}

.cuerpo__seccionRecomendaciones .rot_10deg {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.cuerpo__seccionRecomendaciones_texto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: texto1;
}

.cuerpo__seccionRecomendaciones_texto2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: texto2;
}

.cuerpo__seccionRecomendaciones_texto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: texto3;
}

.cuerpo__seccionRecomendaciones_texto4 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: texto4;
}

.cuerpo__seccionRecomendaciones_texto5 {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
  grid-area: texto5;
}

.cuerpo__seccionRecomendaciones_texto6 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: texto6;
}

.cuerpo__seccionRecomendaciones_imagen1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagen1;
}

.cuerpo__seccionRecomendaciones_imagen2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagen2;
}

.cuerpo__seccionRecomendaciones_imagen3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: imagen3;
}

.cuerpo__seccionRecomendaciones_imagen4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: imagen4;
}

.cuerpo__seccionRecomendaciones_imagen5 {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: imagen5;
}

.cuerpo__seccionRecomendaciones_imagen6 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: imagen6;
}

.cuerpo__seccionRecomendaciones .textoRecomendaciones {
  margin-block: 25px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.cuerpo__seccionRecomendaciones .textoRecomendaciones p {
  font-size: 4em;
  font-family: 'Caveat', cursive;
}

.cuerpo__seccionRecomendaciones .textoRecomendaciones h6 {
  text-align: right;
  font-size: 2em;
  margin-block: 20px;
  font-family: 'Caveat', cursive;
}

.cuerpo__seccionRecomendaciones .imagenRecomendaciones {
  margin-block: 30px;
  margin-inline: 30px;
}

.cuerpo__seccionRecomendaciones .imagenRecomendaciones .foto {
  width: 100%;
}

.cuerpo__seccionContacto {
  background-image: url("../media/fondosSecciones/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenContacto tituloContacto" "imagenContacto textoContacto";
}

.cuerpo__seccionContacto .tituloContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloContacto;
  background-color: rgba(0, 0, 0, 0.7);
}

.cuerpo__seccionContacto .imagenContacto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenContacto;
}

.cuerpo__seccionContacto .textoContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoContacto;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 2%;
  color: white;
}

.cuerpo__seccionContacto .textoContacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cuerpo__seccionContacto .textoContacto form .centrado {
  text-align: center;
  width: 60%;
  margin-block: 5px;
}

.cuerpo__seccionContacto .textoContacto form .centrado input, .cuerpo__seccionContacto .textoContacto form .centrado select, .cuerpo__seccionContacto .textoContacto form .centrado textarea {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.cuerpo__seccionContacto .textoContacto form .centrado button {
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.cuerpo__seccionConsultoria {
  background-image: url("../media/fondosSecciones/consultoria.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr 1fr;
      grid-template-columns: 3fr 5fr 1fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenConsultoria tituloConsultoria logosConsultoria" "imagenConsultoria textoConsultoria logosConsultoria";
}

.cuerpo__seccionConsultoria .tituloConsultoria {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloConsultoria;
  background-color: rgba(0, 0, 0, 0.7);
}

.cuerpo__seccionConsultoria .imagenConsultoria {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenConsultoria;
}

.cuerpo__seccionConsultoria .textoConsultoria {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoConsultoria;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
  color: white;
}

.cuerpo__seccionConsultoria .textoConsultoria ul {
  margin-block: 25px;
}

.cuerpo__seccionConsultoria .textoConsultoria ul h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria ul h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionConsultoria .textoConsultoria ul h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria ul h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionConsultoria .textoConsultoria ul h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo__seccionConsultoria .logosConsultoria {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: logosConsultoria;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.cuerpo__seccionConsultoria .logosConsultoria img {
  width: 75px;
}

.cuerpo__seccionDocencia {
  background-image: url("../media/fondosSecciones/docencia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenDocencia tituloDocencia" "imagenDocencia textoDocencia";
  color: white;
}

.cuerpo__seccionDocencia .tituloDocencia {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloDocencia;
  background-color: rgba(0, 0, 0, 0.7);
}

.cuerpo__seccionDocencia .imagenDocencia {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenDocencia;
}

.cuerpo__seccionDocencia .textoDocencia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoDocencia;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionDocencia .textoDocencia ul {
  margin-block: 25px;
}

.cuerpo__seccionDocencia .textoDocencia ul h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia ul h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionDocencia .textoDocencia ul h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia ul h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionDocencia .textoDocencia ul h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo__seccionYoga {
  background-image: url("../media/fondosSecciones/yoga.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenYoga tituloYoga" "imagenYoga textoYoga";
  color: white;
}

.cuerpo__seccionYoga .tituloYoga {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloYoga;
  background-color: rgba(0, 0, 0, 0.7);
}

.cuerpo__seccionYoga .imagenYoga {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenYoga;
}

.cuerpo__seccionYoga .textoYoga {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoYoga;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionYoga .textoYoga ul {
  margin-block: 25px;
}

.cuerpo__seccionYoga .textoYoga p {
  font-size: 1.3em;
  margin-block: 5px;
}

.cuerpo__seccionYoga .textoYoga h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionYoga .textoYoga h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionYoga .textoYoga h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionYoga .textoYoga h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionYoga .textoYoga h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  .cuerpo__contenedorPersonal {
    background-position: 15%;
  }
  .cuerpo__contenedorPersonal .contenedorTexto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
    width: 90%;
    text-align: center;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
    font-size: 6em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
    font-size: 3.5em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
    font-size: 3em;
  }
  .cuerpo__conenedorImagenesCategorias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cuerpo__conenedorImagenesCategorias div {
    margin: 5%;
  }
  .cuerpo__conenedorImagenesCategorias a {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  .cuerpo__conenedorImagenesCategorias div:hover {
    -webkit-transform: none;
            transform: none;
  }
  .cuerpo__seccion--formatoTituloSeccion {
    padding: 0px;
    font-size: 5em;
    text-align: center;
  }
  .cuerpo__seccion--formatoTextoContenido {
    color: #646464;
    font-size: 1.5em;
  }
  .cuerpo__seccionRecomendaciones {
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 70px auto auto auto auto auto auto;
        grid-template-rows: 70px auto auto auto auto auto auto;
        grid-template-areas: " tituloRecomendaciones tituloRecomendaciones "  " imagen1 texto1 " " imagen2 texto2 " " imagen3 texto3 " " imagen4 texto4 " " imagen5 texto5 " " imagen6 texto6 ";
  }
  .cuerpo__seccionRecomendaciones .tituloRecomendaciones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionRecomendaciones .textoRecomendaciones h6 {
    font-size: 2.5em;
  }
  .cuerpo__seccionRecomendaciones .imagenRecomendaciones {
    margin-inline: 15px;
  }
  .cuerpo__seccionContacto {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionContacto .tituloContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionContacto .textoContacto {
    padding-inline: 0px;
  }
  .cuerpo__seccionContacto .textoContacto form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cuerpo__seccionContacto .textoContacto form .centrado {
    width: 90%;
  }
  .cuerpo__seccionConsultoria {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px auto auto;
        grid-template-rows: 100px auto auto;
        grid-template-areas: "imagenConsultoria tituloConsultoria" "imagenConsultoria textoConsultoria " "logosConsultoria logosConsultoria";
  }
  .cuerpo__seccionConsultoria .logosConsultoria {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 2%;
  }
  .cuerpo__seccionConsultoria .logosConsultoria img {
    width: 21%;
  }
  .cuerpo__seccionConsultoria .tituloConsultoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionConsultoria .textoConsultoria {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul {
    margin-block: 15px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
  .cuerpo__seccionDocencia {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionDocencia .tituloDocencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionDocencia .textoDocencia {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionDocencia .textoDocencia ul {
    margin-block: 15px;
  }
  .cuerpo__seccionDocencia .textoDocencia ul h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionDocencia .textoDocencia ul h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionDocencia .textoDocencia ul h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionDocencia .textoDocencia ul h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionDocencia .textoDocencia ul h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
  .cuerpo__seccionYoga {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionYoga .tituloYoga {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionYoga .textoYoga {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionYoga .textoYoga ul {
    margin-block: 15px;
  }
  .cuerpo__seccionYoga .textoYoga p {
    font-size: 2.2em;
    margin-block: 5px;
  }
  .cuerpo__seccionYoga .textoYoga h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionYoga .textoYoga h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionYoga .textoYoga h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionYoga .textoYoga h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionYoga .textoYoga h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
}

@media only screen and (min-width: 575px) and (max-width: 1024px) {
  .cuerpo__seccionConsultoria {
    -ms-grid-rows: 100px auto auto;
        grid-template-rows: 100px auto auto;
  }
  .cuerpo__seccionRecomendaciones {
    -ms-grid-columns: 250px auto;
        grid-template-columns: 250px auto;
    -ms-grid-rows: 70px 250px 250px 250px 250px 250px 250px;
        grid-template-rows: 70px 250px 250px 250px 250px 250px 250px;
        grid-template-areas: " tituloRecomendaciones tituloRecomendaciones "  " imagen1 texto1 " " imagen2 texto2 " " imagen3 texto3 " " imagen4 texto4 " " imagen5 texto5 " " imagen6 texto6 ";
  }
}

/*PIE**********************************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 200px;
  background-image: url("../media/head2.jpg");
  background-size: 100%;
  background-position: bottom;
}

.footer p {
  color: white;
}

.footer h3 {
  color: white;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 1.1em;
}

.footer__datosContacto {
  background-color: rgba(116, 104, 77, 0.479);
  width: 60%;
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 1.5em;
}

.footer__datosDesarrollador {
  background-color: rgba(116, 104, 77, 0.479);
  width: 40%;
  text-align: right;
  padding-top: 50px;
  padding-right: 10px;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__datosContacto {
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-left: 0px;
  }
  .footer__datosDesarrollador {
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-right: 0px;
  }
}
/*# sourceMappingURL=estilos.css.map */