* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px;
  width: 99.9%;
  background-color: white;
}

p {
  margin-bottom: 0em;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  body {
    font-size: 5px;
    margin: 0%;
  }
}

/*ENCABEZADO*********************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../media/head2.jpg");
  background-size: 100%;
}

header .encabezado {
  height: 140px;
  margin: 0%;
  text-align: center;
}

header .encabezado__texto {
  color: white;
  overflow: hidden;
  margin-bottom: 0px;
}

header .encabezado__texto--titulo {
  margin-top: 40px;
  letter-spacing: 15px;
  font-size: 4em;
  font-weight: 300;
  text-shadow: black 0.05em 0.05em 0.2em;
}

header .encabezado__texto--titulo span {
  font-weight: 700;
}

header .encabezado__texto--subtitulo {
  margin-top: 5px;
  color: white;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: black 0.05em 0.05em 0.2em;
}

header .menu {
  background-color: rgba(116, 104, 77, 0.479);
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
}

header .menu .item_recomedaciones a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: black 0.1em 0.1em 0.2em;
}

header .menu .item_contacto {
  width: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .item_contacto div {
  width: 5%;
}

header .menu .iconoMenu {
  height: 25px;
  -webkit-filter: drop-shadow(2px 2px 3px black);
          filter: drop-shadow(2px 2px 3px black);
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  header .encabezado {
    height: 120px;
  }
  header .encabezado__texto--titulo {
    letter-spacing: 5px;
    font-size: 7em;
    margin-top: 25px;
  }
  header .encabezado__texto--subtitulo {
    font-size: 2.5em;
    letter-spacing: 1px;
  }
  header .menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 150px;
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(116, 104, 77, 0.7);
  }
  header .menu .item_home {
    border-right-style: solid;
    border-right-color: white;
    width: 29%;
    height: 30px;
    text-align: center;
    margin-block: 15px;
  }
  header .menu .item_recomedaciones {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: white;
    letter-spacing: 0.1em;
    text-shadow: black 0em 0.1em 0.8em;
    margin-block: 15px;
  }
  header .menu .item_contacto {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
    height: 30px;
    margin-block: 15px;
  }
  header .menu .item_contacto div {
    width: 20%;
  }
  header .menu .iconoMenu {
    -webkit-filter: drop-shadow(0 1px 1px black);
            filter: drop-shadow(0 1px 1px black);
  }
}

/*
@media only screen and (max-width: 1024px) {
	header{
		.encabezado{
			&__texto{
				&--titulo{
					letter-spacing: 10px;
					font-size:3em;
				}
				&--subtitulo{
					font-size:1.5em;
					letter-spacing: 1px;
				}
			}
		}
		.menu{
			div{
				width: 100%;
			}
			.opcionesContacto{
				div{
					width: 10%;
				}
			}
			&__lista{
				justify-content: space-around;
				align-items: center;
				width: 100%;
				
				&--formatoTexto{
					color: white;
					font-size: 1.5em;
					letter-spacing: 0.1em;
					text-shadow: black 0em 0.1em 0.8em;
				}
				&--formatoTexto:hover{
					text-decoration: none;
					text-shadow: black 0em 0.1em 0.8em;
					color: white;
				}
			}
		}
	}
}

*/
/*
@media only screen and (max-width: 575px) {

	header{
		.encabezado{
			&__texto{
				&--titulo{
					letter-spacing: 5px;
					font-size:5em;
				}
				&--subtitulo{
					font-size:2.5em;
					letter-spacing: 1px;
				}
			}
		}
		.menu{
		
			padding: 0px;
			height: auto;
			width: 100%;
			.homeMobile{
				display: block;
			}
			.homeDesktop{
				display: none;
			}
			.item{
				&_ham{
					display: block;
					width: 10%;
					text-align: center;
					height: 50px;
				}
				&_ham:active{
					height: 100px;
				}
				&_texto{
					width: 100%;
					text-align: center;
					height: 35px;
					padding-top: 15px;
					font-size: 2em;
					height: 50px;
				}
				&_icono{
					width: 10%;
					text-align: center;
					height: 50px;
				}
			}
			.opcionesContacto{
				display: flex;
				flex-direction: row;
				width: 80%;
				justify-content: center;
				padding-top: 15px;
				height: 50px;
				div{
					width: 30%;
				}
			}
			.iconoMenu{
				filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 1));
			}		
			&__lista{
				justify-content: space-around;
				align-items: center;
				width: 100%;
				flex-direction: column;
				
				&--formatoTexto{
					color: white;
					font-size: 2em;
					letter-spacing: 0.1em;
					text-shadow: black 0em 0.1em 0.8em;
				}
				&--formatoTexto:hover{
					text-decoration: none;
					text-shadow: black 0em 0.1em 0.8em;
					color: white;
				}
			}
			
		}
	}
}
*/
.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-block: 3px;
}

.cuerpo__contenedorPersonal {
  background: url("../media/personal.webp");
  background-size: 100%;
}

.cuerpo__contenedorPersonal .contenedorTexto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7));
  background-size: 100%;
  background-position: top;
  width: 100%;
  margin: 0%;
  height: 75vh;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div {
  padding-block: 5vh;
  color: white;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
  font-size: 3em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
  font-size: 2em;
}

.cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
  font-size: 2em;
}

.cuerpo__conenedorImagenesCategorias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff5e3;
  width: 100%;
}

.cuerpo__conenedorImagenesCategorias div {
  margin: 2%;
}

.cuerpo__conenedorImagenesCategorias a {
  text-decoration: none;
  text-align: center;
}

.cuerpo__conenedorImagenesCategorias a p {
  color: black;
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.cuerpo__conenedorImagenesCategorias a img {
  width: 100%;
  -webkit-filter: drop-shadow(0 4px 4px #919191);
          filter: drop-shadow(0 4px 4px #919191);
}

.cuerpo__conenedorImagenesCategorias div {
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  margin-block: 5%;
}

.cuerpo__conenedorImagenesCategorias div:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.cuerpo__seccion--formatoTituloSeccion {
  padding-block: 12px;
  font-size: 4em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin: 0%;
  padding-left: 5%;
}

.cuerpo__seccion--formatoTextoContenido {
  color: #646464;
  font-size: 1.5em;
}

.cuerpo__seccionRecomendaciones {
  background-image: url(../media/fondosSecciones/recomendaciones.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 4fr 1fr;
      grid-template-columns: 1fr 1fr 4fr 1fr;
  -ms-grid-rows: 100px 220px 220px 220px 220px;
      grid-template-rows: 100px 220px 220px 220px 220px;
      grid-template-areas: "margenIzq0 tituloRecomendaciones tituloRecomendaciones margenDer0"  "margenIzq1 imagen1 texto1 margenDer1" "margenIzq2 imagen2 texto2 margenDer2" "margenIzq3 imagen3 texto3 margenDer3" "margenIzq4 imagen4 texto4 margenDer4";
}

.cuerpo__seccionRecomendaciones .tituloRecomendaciones {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: tituloRecomendaciones;
  color: white;
}

.cuerpo__seccionRecomendaciones_texto1 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: texto1;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto1 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto1 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: texto2;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto2 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto2 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto3 {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: texto3;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto3 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto3 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_texto4 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: texto4;
  background-color: #fff5e3;
  margin: 10px 5px;
  padding: 15px;
  display: -ms-grid;
  display: grid;
}

.cuerpo__seccionRecomendaciones_texto4 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.cuerpo__seccionRecomendaciones_texto4 p {
  font-size: 1em;
  letter-spacing: 0.1em;
}

.cuerpo__seccionRecomendaciones_imagen1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagen1;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen1 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagen2;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen2 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen3 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: imagen3;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen3 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionRecomendaciones_imagen4 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: imagen4;
  margin: 10px 5px;
  overflow: hidden;
}

.cuerpo__seccionRecomendaciones_imagen4 img {
  width: 100%;
  height: auto;
}

.cuerpo__seccionContacto {
  background-image: url("../media/fondosSecciones/contacto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenContacto tituloContacto" "imagenContacto textoContacto";
  color: white;
}

.cuerpo__seccionContacto .tituloContacto {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloContacto;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionContacto .imagenContacto {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenContacto;
}

.cuerpo__seccionContacto .textoContacto {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoContacto;
  padding-left: 5%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-block: 2%;
}

.cuerpo__seccionContacto .textoContacto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cuerpo__seccionContacto .textoContacto form .centrado {
  text-align: center;
  padding-inline: 0px;
  width: 60%;
  margin-block: 5px;
}

.cuerpo__seccionContacto .textoContacto form .centrado input, .cuerpo__seccionContacto .textoContacto form .centrado select, .cuerpo__seccionContacto .textoContacto form .centrado textarea {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.cuerpo__seccionContacto .textoContacto form .centrado button {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.cuerpo__seccionConsultoria {
  background-image: url("../media/fondosSecciones/consultoria.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenConsultoria tituloConsultoria" "imagenConsultoria textoConsultoria";
  color: white;
}

.cuerpo__seccionConsultoria .tituloConsultoria {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloConsultoria;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionConsultoria .imagenConsultoria {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenConsultoria;
}

.cuerpo__seccionConsultoria .textoConsultoria {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoConsultoria;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionConsultoria .textoConsultoria ul {
  margin-block: 25px;
}

.cuerpo__seccionConsultoria .textoConsultoria h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionConsultoria .textoConsultoria h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionConsultoria .textoConsultoria h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionConsultoria .textoConsultoria h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo__seccionDocencia {
  background-image: url("../media/fondosSecciones/docencia2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 5fr;
      grid-template-columns: 3fr 5fr;
  -ms-grid-rows: 70px 100%;
      grid-template-rows: 70px 100%;
      grid-template-areas: "imagenDocencia tituloDocencia" "imagenDocencia textoDocencia";
  color: white;
}

.cuerpo__seccionDocencia .tituloDocencia {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tituloDocencia;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-style: solid;
  border-bottom-color: white;
}

.cuerpo__seccionDocencia .imagenDocencia {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: imagenDocencia;
}

.cuerpo__seccionDocencia .textoDocencia {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: textoDocencia;
  padding: 0px 20px 0px 25px;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.cuerpo__seccionDocencia .textoDocencia ul {
  margin-block: 25px;
}

.cuerpo__seccionDocencia .textoDocencia h2 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia h3 {
  font-size: 2em;
  margin: 0px;
  font-weight: 300;
  margin-top: 1.5%;
}

.cuerpo__seccionDocencia .textoDocencia h4 {
  font-size: 1.5em;
  margin-top: 5px;
  font-weight: 500;
}

.cuerpo__seccionDocencia .textoDocencia h5 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
}

.cuerpo__seccionDocencia .textoDocencia h6 {
  font-size: 1.2em;
  margin: 0px;
  font-weight: 300;
  font-style: italic;
}

.cuerpo table {
  border-collapse: collapse;
  border-color: blue;
}

.cuerpo table th {
  background-color: blue;
  color: white;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  .cuerpo {
    width: 100%;
  }
  .cuerpo__contenedorPersonal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
    height: auto;
    background-size: cover;
  }
  .cuerpo__contenedorPersonal .contenedorTexto {
    margin: 0px;
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 20vh,rgba(0, 0, 0, 0.7) 60vh, rgba(0, 0, 0, 0));*/
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida {
    width: 90%;
    text-align: center;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div {
    padding-block: 5vh;
    color: white;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h2 {
    font-size: 6em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div p {
    font-size: 3.5em;
  }
  .cuerpo__contenedorPersonal .contenedorTexto .textoBienvenida div h3 {
    font-size: 3em;
  }
  .cuerpo__conenedorImagenesCategorias {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-inline: 0%;
  }
  .cuerpo__conenedorImagenesCategorias div {
    margin: 5%;
  }
  .cuerpo__conenedorImagenesCategorias a {
    font-size: 2.5em;
    letter-spacing: 0.1em;
  }
  .cuerpo__conenedorImagenesCategorias div:hover {
    -webkit-transform: none;
            transform: none;
  }
  .cuerpo__seccion {
    padding: 0%;
  }
  .cuerpo__seccion--formatoTituloSeccion {
    padding: 0px;
    font-size: 5em;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
    margin-inline: 50px;
  }
  .cuerpo__seccion--formatoTextoContenido {
    color: #646464;
    font-size: 1.5em;
  }
  .cuerpo__seccionContacto {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionContacto .tituloContacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionContacto .textoContacto {
    padding-inline: 0px;
  }
  .cuerpo__seccionContacto .textoContacto form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cuerpo__seccionContacto .textoContacto form .centrado {
    width: 90%;
  }
  .cuerpo__seccionConsultoria {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionConsultoria .imagenConsultoria {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: imagenConsultoria;
  }
  .cuerpo__seccionConsultoria .tituloConsultoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionConsultoria .textoConsultoria {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria ul {
    margin-block: 15px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionConsultoria .textoConsultoria h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
  .cuerpo__seccionDocencia {
    -ms-grid-columns: 0fr 5fr;
        grid-template-columns: 0fr 5fr;
    -ms-grid-rows: 100px 100%;
        grid-template-rows: 100px 100%;
  }
  .cuerpo__seccionDocencia .tituloDocencia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cuerpo__seccionDocencia .textoDocencia {
    padding: 10px 20px 10px 20px;
  }
  .cuerpo__seccionDocencia .textoDocencia ul {
    margin-block: 15px;
  }
  .cuerpo__seccionDocencia .textoDocencia h2 {
    font-size: 4.5em;
  }
  .cuerpo__seccionDocencia .textoDocencia h3 {
    font-size: 3em;
    margin-top: 5px;
  }
  .cuerpo__seccionDocencia .textoDocencia h4 {
    font-size: 2.5em;
    letter-spacing: 1px;
    font-weight: 400;
  }
  .cuerpo__seccionDocencia .textoDocencia h5 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
  }
  .cuerpo__seccionDocencia .textoDocencia h6 {
    font-size: 2.2em;
    margin: 0px;
    font-weight: 300;
    font-style: italic;
  }
}

/*PIE**********************************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 200px;
  background-image: url("../media/head2.jpg");
  background-size: 100%;
  background-position: bottom;
}

.footer p {
  color: white;
}

.footer h3 {
  color: white;
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 1.1em;
}

.footer__datosContacto {
  background-color: rgba(116, 104, 77, 0.479);
  width: 60%;
  text-align: left;
  padding-top: 30px;
  padding-left: 10px;
  font-size: 1.5em;
}

.footer__datosDesarrollador {
  background-color: rgba(116, 104, 77, 0.479);
  width: 40%;
  text-align: right;
  padding-top: 50px;
  padding-right: 10px;
}

/*MOBILE**********************************/
@media only screen and (max-width: 575px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__datosContacto {
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding-left: 0px;
  }
  .footer__datosDesarrollador {
    height: 120px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-right: 0px;
  }
}
/*# sourceMappingURL=estilos.css.map */