/*ENCABEZADO*********************/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-image: url("../media/head2.jpg");
  background-size: 100%;
}

header .encabezado {
  height: 140px;
  margin: 0%;
  text-align: center;
}

header .encabezado__texto {
  color: white;
  overflow: hidden;
  margin-bottom: 0px;
}

header .encabezado__texto--titulo {
  margin-top: 40px;
  letter-spacing: 15px;
  font-size: 4em;
  font-weight: 300;
  text-shadow: black 0.05em 0.05em 0.2em;
}

header .encabezado__texto--titulo span {
  font-weight: 700;
}

header .encabezado__texto--subtitulo {
  margin-top: 5px;
  color: white;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: 300;
  text-shadow: black 0.05em 0.05em 0.2em;
}

header .menu {
  background-color: rgba(116, 104, 77, 0.479);
  padding: 0px;
<<<<<<< Updated upstream
  height: 35px;
}

header .menu .item_texto {
=======
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header .menu .item_home {
  display: block;
  width: 5%;
  text-align: center;
  height: 80%;
}

header .menu .item_recomedaciones {
>>>>>>> Stashed changes
  width: 15%;
  text-align: center;
  height: 35px;
  padding-top: 6px;
}

header .menu .item_icono {
  width: 5%;
  text-align: center;
  height: 30px;
}

header .menu .opcionesContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 65%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

header .menu .opcionesContacto div {
  width: 5%;
}

header .menu .iconoMenu {
<<<<<<< Updated upstream
  height: 90%;
  padding-top: 5%;
  -webkit-filter: drop-shadow(0 2px 8px black);
          filter: drop-shadow(0 2px 8px black);
}

header .menu__lista {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header .menu__lista--formatoTexto {
  color: white;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-shadow: black 0em 0.1em 0.8em;
}

header .menu__lista--formatoTexto:hover {
=======
  height: 25px;
  padding-top: 2%;
  -webkit-filter: drop-shadow(2px 1px 2px black);
          filter: drop-shadow(2px 1px 2px black);
}

header .menu .efectoMenu:hover a {
>>>>>>> Stashed changes
  text-decoration: none;
  text-shadow: black 0em 0.1em 0.8em;
  color: white;
}

<<<<<<< Updated upstream
/*MOBILE**********************************/
@media only screen and (max-width: 1024px) {
  header .encabezado__texto--titulo {
    letter-spacing: 10px;
    font-size: 3em;
  }
  header .encabezado__texto--subtitulo {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  header .menu div {
    width: 100%;
  }
  header .menu .opcionesContacto div {
    width: 10%;
  }
  header .menu__lista {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .menu__lista--formatoTexto {
    color: white;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-shadow: black 0em 0.1em 0.8em;
  }
  header .menu__lista--formatoTexto:hover {
    text-decoration: none;
    text-shadow: black 0em 0.1em 0.8em;
    color: white;
  }
=======
header .menu .efectoMenu:hover img {
  -webkit-filter: drop-shadow(2px 1px 2px black);
          filter: drop-shadow(2px 1px 2px black);
>>>>>>> Stashed changes
}

@media only screen and (max-width: 575px) {
  header .encabezado__texto--titulo {
    letter-spacing: 5px;
    font-size: 5em;
  }
  header .encabezado__texto--subtitulo {
    font-size: 2.5em;
    letter-spacing: 1px;
  }
  header .menu {
<<<<<<< Updated upstream
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(116, 104, 77, 0)), color-stop(15%, rgba(116, 104, 77, 0.5)), color-stop(60%, #74684d));
    background: linear-gradient(180deg, rgba(116, 104, 77, 0), rgba(116, 104, 77, 0.5) 15%, #74684d 60%);
=======
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 150px;
>>>>>>> Stashed changes
    padding: 0px;
    height: auto;
  }
  header .menu div {
    width: 100%;
    margin-top: 0px !important;
  }
<<<<<<< Updated upstream
  header .menu div .item_texto {
    width: 100%;
    text-align: center;
    height: 35px;
    padding-top: 15px;
    font-size: 2em;
    height: 50px;
  }
  header .menu div .item_icono {
    width: 10%;
=======
  header .menu .item_home {
    border-right-style: solid;
    border-right-color: white;
    width: 29%;
    height: 30px;
  }
  header .menu .item_recomedaciones {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    width: 100%;
>>>>>>> Stashed changes
    text-align: center;
    height: 50px;
  }
<<<<<<< Updated upstream
  header .menu div .opcionesContacto {
=======
  header .menu .item_contacto {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
>>>>>>> Stashed changes
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
<<<<<<< Updated upstream
    padding-top: 15px;
    height: 50px;
  }
  header .menu div .opcionesContacto div {
    width: 30%;
=======
    padding-top: 0px;
    height: 30px;
  }
  header .menu .item_contacto div {
    width: 20%;
>>>>>>> Stashed changes
  }
  header .menu div .iconoMenu {
    -webkit-filter: drop-shadow(0 1px 1px black);
            filter: drop-shadow(0 1px 1px black);
  }
<<<<<<< Updated upstream
  header .menu div__lista {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  header .menu div__lista--formatoTexto {
    color: white;
    font-size: 2em;
    letter-spacing: 0.1em;
    text-shadow: black 0em 0.1em 0.8em;
  }
  header .menu div__lista--formatoTexto:hover {
    text-decoration: none;
    text-shadow: black 0em 0.1em 0.8em;
    color: white;
  }
=======
>>>>>>> Stashed changes
}
/*# sourceMappingURL=header.css.map */