.cuerpo{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	
    &__contenedorPersonal{
		background: url("../media/personal.webp");
		background-size: cover;
		.contenedorTexto{
			display: flex;
			justify-content: right;
			background: linear-gradient(90deg,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0) 50%, rgba(0, 0, 0, 0.7));	
			background-size: 100%;
			background-position: top;
			width: 100%;
			margin: 0%;
			height: 75vh;
			.textoBienvenida{
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 50%;
				div{
					padding-block: 5vh;
					color: white;
					h2{
						font-size: 3em;
					}
					p{
						font-size: 2em;
					}
					h3{
						font-size: 2em;
					}	
				}
			}
		}	
	}

	&__conenedorImagenesCategorias{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: rgb(255, 245, 227);
		width: 100%;
		div{
			margin: 2%;
		}
		a{
			text-decoration: none;
			text-align: center;
			p{
				color: black;
				font-size:1.5em;
				letter-spacing: 0.1em;
			}

			img{
				width: 100%;
				filter: drop-shadow(0 4px 4px rgb(145, 145, 145));
			}
		}
		div{
			transition: transform 0.25s;
			margin-block: 5%;
		}
		div:hover{
			transform:scale(1.1,1.1); 
	   }
	}

	&__seccion{
		&--formatoTituloSeccion{
			padding-block: 12px;
			font-size: 4em;
			letter-spacing: 0.1em;
			font-weight: 500;
			margin: 0%;
			padding-left: 5%;

		}
		&--formatoTextoContenido{
			color: rgb(100, 100, 100);
			font-size:1.5em;
		}

		&Recomendaciones{
			background-image: url(../media/fondosSecciones/recomendaciones.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			display: grid;
			grid-template-columns: 1fr 2fr 5fr 1fr;
			grid-template-rows: 80px auto auto auto auto auto auto;
			grid-template-areas:
			"margenIzq0 tituloRecomendaciones tituloRecomendaciones margenDer0" 
			"margenIzq1 imagen1 texto1 margenDer1"
			"margenIzq2 imagen2 texto2 margenDer2"
			"margenIzq3 imagen3 texto3 margenDer3"
			"margenIzq4 imagen4 texto4 margenDer4"
			"margenIzq5 imagen5 texto5 margenDer5"
			"margenIzq6 imagen6 texto6 margenDer6";
			

			.tituloRecomendaciones{
				grid-area: tituloRecomendaciones;
				color: white;
				border-bottom-style: solid;
				border-bottom-color: white;
				margin-bottom: 10px;
			}

			@for $i from -10 through 10 {
				.rot_#{$i}deg{
					transform: rotate(#{$i}deg);
				}
			}

			@for $i from 1 through 6 {
				&_texto#{$i} { 
					grid-area: texto#{$i};
				}
			}

			@for $i from 1 through 6 {
				&_imagen#{$i} { 
					grid-area: imagen#{$i};
				}
			}

			.textoRecomendaciones{
				margin-block: 25px;
				margin-right: 10px;
				display: flex; 
				align-items: center;
				flex-direction: column;
				div{
					align-self: center;
				}
				p{
					font-family: 'Caveat', cursive;
					font-size: 4em;
					color: white;					
				}	
				h6{
					color: white;
					text-align: right;
					width: 100%;
					font-size: 2em;
					font-family: 'Caveat', cursive;
					margin-block: 20px;
				}
			}

			.imagenRecomendaciones{
				margin-block: 30px;
				margin-inline: 30px;
				.foto{
					width: 100%;
				}
			}
		}
		
		&Contacto{
			background-image: url("../media/fondosSecciones/contacto.jpg");
			background-repeat: no-repeat;
			background-size: cover;

			display: grid;
			grid-template-columns: 3fr 5fr;
			grid-template-rows: 70px 100%;
			grid-template-areas:
			"imagenContacto tituloContacto"
			"imagenContacto textoContacto";
			color: white;

			.tituloContacto{
				grid-area: tituloContacto;
				background-color: rgba(0, 0, 0, 0.7);
				border-bottom-style: solid;
				border-bottom-color: white;
			}
			.imagenContacto{
				grid-area: imagenContacto;			
			}
			.textoContacto{
				grid-area: textoContacto;
				padding-left: 5%;
				background-color: rgba(0, 0, 0, 0.7);
				padding-block: 2%;

				form{
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.centrado{
						text-align: center;
						padding-inline: 0px;
						width: 60%;
						margin-block: 5px;
						input, select, textarea{
							display: block;
							width: 100%;
							height: calc(1.5em + .75rem + 2px);
							padding: 0px;
							font-size: 1rem;
							font-weight: 400;
							line-height: 1.5;
							color: #495057;
							background-color: #fff;
							background-clip: padding-box;
							border: 1px solid #ced4da;
							border-radius: .25rem;
						}
						
						button{
							color: #fff;
							background-color: #007bff;
							border-color: #007bff;
							cursor: pointer;
			
							display: inline-block;
							font-weight: 400;
							text-align: center;
							vertical-align: middle;
							border: 1px solid transparent;
							padding: .375rem .75rem;
							font-size: 1rem;
							line-height: 1.5;
							border-radius: .25rem;
						}
					}
				}
			}


		}

		&Consultoria{
			background-image: url("../media/fondosSecciones/consultoria.png");
			background-repeat: no-repeat;
			background-size: cover;

			display: grid;
			grid-template-columns: 3fr 5fr 1fr;
			grid-template-rows: 70px 100%;
			grid-template-areas:
			"imagenConsultoria tituloConsultoria logosConsultoria"
			"imagenConsultoria textoConsultoria logosConsultoria";
			color: white;

			.tituloConsultoria{
				grid-area: tituloConsultoria;
				background-color: rgba(0, 0, 0, 0.7);
				border-bottom-style: solid;
				border-bottom-color: white;
			}
			.imagenConsultoria{
				grid-area: imagenConsultoria;			
			}
			.textoConsultoria{
				grid-area: textoConsultoria;
				padding: 0px 20px 0px 25px;
				background-color: rgba(0, 0, 0, 0.7);
				letter-spacing: 1px;

				ul{
					margin-block: 25px;
				}

				h2{
					font-size: 2.5em;
					margin: 0px;
					font-weight: 500;
				}

				h3{
					font-size: 2em;
					margin: 0px;
					font-weight: 300;
					margin-top: 1.5%;
				}
				h4{
					font-size: 1.5em;
					margin-top: 5px;
					font-weight: 500;
				}
				h5{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
				}
				h6{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
					font-style: italic;
				}
			}
			.logosConsultoria{
				grid-area:logosConsultoria;
				display: flex;
				flex-direction: column;
				background-color: white;
				justify-content: space-around;
				align-items: center;
				height: auto;
				img{
					width: 75px;
				}
			}
		}
		

		&Docencia{
			background-image: url("../media/fondosSecciones/docencia.jpg");
			background-repeat: no-repeat;
			background-size: cover;

			display: grid;
			grid-template-columns: 3fr 5fr;
			grid-template-rows: 70px 100%;
			grid-template-areas:
			"imagenDocencia tituloDocencia"
			"imagenDocencia textoDocencia";
			color: white;

			.tituloDocencia{
				grid-area: tituloDocencia;
				background-color: rgba(0, 0, 0, 0.7);
				border-bottom-style: solid;
				border-bottom-color: white;
			}
			.imagenDocencia{
				grid-area: imagenDocencia;			
			}
			.textoDocencia{
				grid-area: textoDocencia;
				padding: 0px 20px 0px 25px;
				background-color: rgba(0, 0, 0, 0.7);
				letter-spacing: 1px;
				ul{
					margin-block: 25px;
				}

				h2{
					font-size: 2.5em;
					margin: 0px;
					font-weight: 500;
				}

				h3{
					font-size: 2em;
					margin: 0px;
					font-weight: 300;
					margin-top: 1.5%;
				}
				h4{
					font-size: 1.5em;
					margin-top: 5px;
					font-weight: 500;
				}
				h5{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
				}
				h6{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
					font-style: italic;
				}
			}
		}

		&Yoga{
			background-image: url("../media/fondosSecciones/yoga.jpg");
			background-repeat: no-repeat;
			background-size: cover;

			display: grid;
			grid-template-columns: 3fr 5fr;
			grid-template-rows: 70px 100%;
			grid-template-areas:
			"imagenYoga tituloYoga"
			"imagenYoga textoYoga";
			color: white;

			.tituloYoga{
				grid-area: tituloYoga;
				background-color: rgba(0, 0, 0, 0.7);
				border-bottom-style: solid;
				border-bottom-color: white;
			}
			.imagenYoga{
				grid-area: imagenYoga;			
			}
			.textoYoga{
				grid-area: textoYoga;
				padding: 0px 20px 0px 25px;
				background-color: rgba(0, 0, 0, 0.7);
				letter-spacing: 1px;

				ul{
					margin-block: 25px;
				}

				p{
					font-size: 1.3em;
					margin-block: 5px;
				}

				h2{
					font-size: 2.5em;
					margin: 0px;
					font-weight: 500;
				}

				h3{
					font-size: 2em;
					margin: 0px;
					font-weight: 300;
					margin-top: 1.5%;
				}
				h4{
					font-size: 1.5em;
					margin-top: 5px;
					font-weight: 500;
				}
				h5{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
				}
				h6{
					font-size: 1.2em;
					margin: 0px;
					font-weight: 300;
					font-style: italic;
				}
			}
		}


	}
	

	table {
		border-collapse: collapse;
		border-color: blue;
		th {
			background-color:blue;
			color: white;
		}
	}
}


 



/*MOBILE**********************************/

@media only screen and (max-width: 575px) {

	.cuerpo{
		width: 100%;
		&__contenedorPersonal{
			flex-direction: column;
			overflow: hidden;
			height: auto;
			background-size: cover;
			background-position: 15%;

			.contenedorTexto{
				margin:0px ;
				padding: 0px;
				justify-content: center;
				background-color:rgba(0, 0, 0, 0.5) ;
				/*background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 20vh,rgba(0, 0, 0, 0.7) 60vh, rgba(0, 0, 0, 0));*/
				.textoBienvenida{
					width: 90%;
					text-align: center;
					div{
						padding-block: 5vh;
						color: white;
						h2{
							font-size: 6em;
						}
						p{
							font-size: 3.5em;
						}
						h3{
							font-size: 3em;
						}	
					}
				}
			
			}

		}
		&__conenedorImagenesCategorias{
			flex-direction: column;
			padding-inline:0%;
			div{
				margin:5%
			}
			a{
				font-size:2.5em;
				letter-spacing: 0.1em;
			}
			div:hover{
				transform:none; 
		   }
		}


		&__seccion{
			padding: 0%;
			&--formatoTituloSeccion{
				padding: 0px;
				font-size: 5em;
				letter-spacing: 0.1em;
				font-weight: 500;
	
				text-align: center;
				margin-inline: 50px;
	
			}
			&--formatoTextoContenido{
				color: rgb(100, 100, 100);
				font-size:1.5em;
			}

			&Recomendaciones{

				grid-template-columns:  40% 60% ;
				grid-template-rows: 70px auto auto auto auto auto auto;
				grid-template-areas:
				" tituloRecomendaciones tituloRecomendaciones " 
				" imagen1 texto1 "
				" imagen2 texto2 "
				" imagen3 texto3 "
				" imagen4 texto4 "
				" imagen5 texto5 "
				" imagen6 texto6 ";
			
				.tituloRecomendaciones{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.textoRecomendaciones{
					h6{
						font-size: 2.5em;
					}
				}

				.imagenRecomendaciones{
					margin-inline: 15px;
				}
			}
					
			&Contacto{
				grid-template-columns: 0fr 5fr;
				grid-template-rows: 100px 100%;
				.tituloContacto{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
				.textoContacto{
					padding-inline:0px ;
					form{
						align-items: center;
						.centrado{
							width: 90%;
						}
					}
				}
			}

			&Consultoria{
				grid-template-columns: 0fr 5fr;
				grid-template-rows: 100px auto auto;
				grid-template-areas:
				"imagenConsultoria tituloConsultoria"
				"imagenConsultoria textoConsultoria "
				"logosConsultoria logosConsultoria";

				.logosConsultoria{
					flex-direction: row;
					flex-wrap: wrap;
					padding: 2%;
					img{
						width: 21%;
					}
				}

				.imagenConsultoria{
					grid-area: imagenConsultoria;			
				}

				.tituloConsultoria{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				.textoConsultoria{
					padding: 10px 20px 10px 20px;
					ul{
						margin-block: 15px;
					}

					h2{
						font-size: 4.5em;
					}
	
					h3{
						font-size: 3em;
						margin-top: 5px;
					}
					h4{
						font-size: 2.5em;
						letter-spacing: 1px;
						font-weight: 400;
					}
					h5{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
					}
					h6{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
						font-style: italic;
					}
				}
			}
	
			&Docencia{
				grid-template-columns: 0fr 5fr;
				grid-template-rows: 100px 100%;
				
				.tituloDocencia{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
	
				.textoDocencia{
					padding: 10px 20px 10px 20px;
					ul{
						margin-block: 15px;
					}

					h2{
						font-size: 4.5em;
					}
	
					h3{
						font-size: 3em;
						margin-top: 5px;
					}
					h4{
						font-size: 2.5em;
						letter-spacing: 1px;
						font-weight: 400;
					}
					h5{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
					}
					h6{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
						font-style: italic;
					}
				}
				
			}

			&Yoga{
				grid-template-columns: 0fr 5fr;
				grid-template-rows: 100px 100%;

				.tituloYoga{
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
	
				.textoYoga{
					padding: 10px 20px 10px 20px;
					ul{
						margin-block: 15px;
					}

					p{
						font-size: 2.2em;
						margin-block: 5px;						
					}

					h2{
						font-size: 4.5em;
					}
	
					h3{
						font-size: 3em;
						margin-top: 5px;
					}
					h4{
						font-size: 2.5em;
						letter-spacing: 1px;
						font-weight: 400;
					}
					h5{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
					}
					h6{
						font-size: 2.2em;
						margin: 0px;
						font-weight: 300;
						font-style: italic;
					}
				}				
			}
		}
	}
}

@media only screen and (min-width: 575px) and (max-width: 1024px) {

	.cuerpo{

		&__seccion{
			&Consultoria{
				grid-template-rows: 100px auto auto;
			}
			
			&Recomendaciones{

				grid-template-columns:  250px auto ;
				grid-template-rows: 70px 250px 250px 250px 250px 250px 250px;
				grid-template-areas:
				" tituloRecomendaciones tituloRecomendaciones " 
				" imagen1 texto1 "
				" imagen2 texto2 "
				" imagen3 texto3 "
				" imagen4 texto4 "
				" imagen5 texto5 "
				" imagen6 texto6 ";
				
			}
		}
	}
}



