/*ENCABEZADO*********************/

header{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-image: url("../media/head2.jpg");
	background-size: 100% ;
	.encabezado{
		height: 140px;
		text-align: center;
		color: white;
		text-shadow: black 0.01em 0.01em 0.8em;
		font-weight: 300;
		&__texto{
			&--titulo{			
				margin-top: 40px;
				letter-spacing: 15px;
				font-size:4em;		
				span{
					font-weight: 700;
				}
			}
			&--subtitulo{
				margin-top: 5px;
				font-size:1.5em;
				letter-spacing: 2px;		
			}
		}
	}
	.menu{	
		background-color: rgba(116, 104, 77, 0.479);
		padding: 0px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		height: 40px;
		text-shadow: black 0.1em 0.1em 0.2em;
		
		.item{

			&_recomedaciones{
				a{
					text-decoration: none;
					color: white;
					font-size: 1.5em;
					letter-spacing: 0.1em;
				}
			}
			&_contacto{
				width: 5%;
				text-align: center;
				display: flex;
				flex-direction: row;
				width: 10%;
				justify-content: end;
				align-items: center;
				div{
					width: 25%;
				}
			}
			&_secciones{
				a{
					text-decoration: none;
					color: white;
					font-size: 1.5em;
					letter-spacing: 0.1em;
					img{
						display: none;
					}
				}
			}
		}

		.iconoMenu {
			height: 25px;
			filter: drop-shadow(2px 2px 3px black);
		}
	}
}

/*MOBILE**********************************/

@media only screen and (max-width: 575px) {

	header{
		.encabezado{
			height: 120px;
			&__texto{
				&--titulo{
					letter-spacing: 5px;
					font-size:7em;
					margin-top: 25px;
				}
				&--subtitulo{
					font-size:2.5em;
					letter-spacing: 1px;
				}
			}
		}
		.backgroundGradient{
			background: linear-gradient(180deg, rgba(116, 104, 77, 0.479) 10%,rgb(116, 104, 77)60%);
		}
		.menu{
		
			justify-content: space-around;
			align-items: center;
			width: 100%;
			flex-wrap: wrap;
			height: 150px;

			padding: 0px;
			height: auto;
			width: 100%;
			
			.item{

				&_home{
					border-right-style: solid;
					border-right-color: white;
					width: 29%;
					height: 30px;
					text-align: center;
					margin-block: 15px;
				}

				&_recomedaciones{
					order: 3;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					text-align: center;
					font-size: 2em;
					color: white;
					letter-spacing: 0.1em;
					text-shadow: black 0em 0.1em 0.8em;
					border-right-style: solid;
					border-right-color: white;
					height: 40px;
				}
				&_contacto{
					order: 2;
					display: flex;
					flex-direction: row;
					width: 70%;
					justify-content: center;
					padding-top: 0px;
					height: 30px;
					margin-block: 15px;
					div{
						width: 20%;
					}
				}
				&_secciones{
					order: 4;
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					text-align: center;
					font-size: 2em;
					color: white;
					letter-spacing: 0.1em;
					text-shadow: black 0em 0.1em 0.8em;
					width: 15%;
					position: relative;
					left: -3%;
					margin-bottom: 5px;
					a{
						p{
							display: none;
						}
						img{
							display: block;
							width: 150%;
							filter: drop-shadow(5px 5px 5px black);					
						}
					}
				}
			}

			.iconoMenu{
				filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 1));
			}
			
		}
	}
}



@media only screen and (min-width: 575px) and (max-width: 1024px) {
	header {
		.menu{
			.item_contacto{ 
				width: 20%;
				justify-content: space-around;
			}
		}
	}
}










