.cuerpo{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	background-color: white;
	
    &__contenedorPersonal{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0%;
		div{
			width: 100%;
			overflow: hidden;
			height: 70vh;
			.indicadoresCentrados{ 
				margin: 0%;
				background-color: rgba(0, 0, 0, 0.2);
				li{
					background-color: white;
				}
			}
			.indicadoresAtrasAdelante{
				width: 30px;
				height: 30px;
				background-color: rgba(0, 0, 0, 0.2);
				background-size: 75%;
				border-radius: 15px;
			}
			.imagenPersonal {
				display: flex;
				align-items: flex-start;
				.img{
					width: 100%;
				}
			}
		}
	}
	&__conenedorImagenesCategorias{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: rgb(255, 245, 227);
		width: 100%;
		a{
			text-decoration: none;
			text-align: center;
			color: black;
			font-size:1.5em;
			letter-spacing: 0.1em;
			margin: 2px;
			img{
				width: 100%;
			}
		}
		div{
			transition: transform 0.25s;
			margin: 5%;
		}
		div:hover{
			transform:scale(1.1,1.1); 
	   }
	}
	&__recomendaciones{ 
		div{
			display: flex;
			flex-direction: row;
			img{
				width: 20%;
				margin-bottom: 10px ;
			}
			p{
				padding: 50px 0px ;
			}
		}
	}

	&__seccion{
		padding: 1%;
		&--formatoTituloSeccion{
			color: red;
			font-size:5em;
			letter-spacing: 0.1em;
		}
		&--formatoTextoContenido{
			color: rgb(100, 100, 100);
			font-size:1.5em;
		}

		&Docencia{
			display: grid;
			grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
			grid-template-rows: 100px 200px 200px 200px 200px 200px 200px 200px;
			grid-template-areas:
			"margenIzq0 tituloDocencia tituloDocencia tituloDocencia margenDer0" 
			"margenIzq1 texto1 texto1 imagen1 margenDer1"
			"margenIzq2 imagen2 texto2 texto2 margenDer2"
			"margenIzq3 texto3 texto3 imagen3 margenDer3"
			"margenIzq4 imagen4 texto4 texto4 margenDer4"
			"margenIzq5 texto5 texto5 imagen5 margenDer5"
			"margenIzq6 imagen6 texto6 texto6 margenDer6"
			"margenIzq7 texto7 texto7 imagen7 margenDer7";

			.tituloDocencia{
				grid-area: tituloDocencia;
				h1{
					padding-top: 25px;
					font-size: 5em;
					letter-spacing: 0.1em;
					font-weight: 700;
				}
			}

			@for $i from 1 through 7 {
				&_texto#{$i} { 
					grid-area: texto#{$i};
					background-color: rgb(255, 234, 175);
					margin: 10px 5px;
					padding: 30px;
					border-radius: 20px; 
					@if $i % 2 == 0
					{
						text-align: left;
					} @else{
						text-align: right;
					}
				}
			}

			@for $i from 1 through 7 {
				&_imagen#{$i} { 
					grid-area: imagen#{$i};
					margin: 10px 5px;
					border-radius: 20px;
					overflow: hidden;
				}
			}
		}
	}
	

	table {
		border-collapse: collapse;
		border-color: blue;
		th {
			background-color:blue;
			color: white;
		}
	}

	form{
		.centrado{
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			padding-inline: 0px;
		}
	}
}


 



/*MOBILE**********************************/

@media only screen and (max-width: 480px) {

	.cuerpo{
		&__contenedorPersonal{
			flex-direction: column;
		}
		&__conenedorImagenesCategorias{
			flex-direction: column;
			a{
				font-size:3.5em;
				letter-spacing: 0.1em;
				margin: 2px;
			}
		}

		form{
			.centrado{
				margin-left: 2%;
				margin-right: 2%;
				text-align: center;
				padding-inline: 0px;
			}
		}

	}
}