/*ENCABEZADO*********************/

header{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-image: url("../media/head2.jpg");
	background-size: 100% ;
	.encabezado{
		height: 140px;
		margin: 0% ;

		text-align: center;
		&__texto{
			color: white;
			overflow: hidden;
				
			margin-bottom: 0px;
			&--titulo{
				margin-top: 40px;
				letter-spacing: 15px;
				font-size:4em;
				span{
					font-weight: 700;
				}
			}
			&--subtitulo{
				margin-top: 5px;
				color: white;
				font-size:1.25em;
				letter-spacing: 2px;
			}
		}
	}
	.menu{
		
		background-color: rgba(116, 104, 77, 0.479);
		padding: 0px;
		height: 35px;

		.item{
			&_texto{
				width: 15%;
				text-align: center;
				height: 35px;
				padding-top: 6px;
			}
			&_icono{
				width: 5%;
				text-align: center;
				height: 30px;
			}
		}
		.opcionesContacto{
			display: flex;
			flex-direction: row;
			width: 65%;
			justify-content: end;
			div{
				width: 5%;
			}
		}
		.iconoMenu{
			height: 90%;
			padding-top: 5%;
		}

		&__lista{
			justify-content: space-around;
			align-items: center;
			width: 100%;
			
			&--formatoTexto{
				color: white;
				font-size: 1.5em;
				letter-spacing: 0.1em;
				text-shadow: black 0.05em 0.05em 0.1em;
			}
			&--formatoTexto:hover{
				text-decoration: none;
				text-shadow: black 0.1em 0.1em 0.2em;
				color: white;
			}

		}
	}
}

/*MOBILE**********************************/
@media only screen and (max-width: 990px) {
	header{
		.encabezado{
			&__texto{
				&--titulo{
					letter-spacing: 10px;
					font-size:3em;
				}
				&--subtitulo{
					font-size:1.5em;
					letter-spacing: 1px;
				}
			}
		}
		.menu{
			padding: auto;
			height: auto;
			
			.item{
				&_activo{
					background:currentColor;
					background-color: rgb(116, 104, 77);
					width: auto;
					text-align: auto;
					height: auto;
					padding-top: auto;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				&_inactivo{
					width: auto;
					text-align: auto;
					height: auto;
					padding-top: auto;
				}
			}

			&__lista{
				&--formatoTexto{
					font-size: 2em;
					letter-spacing: 0.2em;
				}
			}
		}



	}
}


@media only screen and (max-width: 480px) {

	header{
		.encabezado{
			&__texto{
				&--titulo{
					letter-spacing: 5px;
					font-size:5em;
				}
				&--subtitulo{
					font-size:2.5em;
					letter-spacing: 1px;
				}
			}
		}
		.menu{
			padding: auto;
			height: auto;
			
			.item{
				&_activo{
					background:currentColor;
					background-color: rgb(116, 104, 77);
					width: auto;
					text-align: auto;
					height: auto;
					padding-top: auto;
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
				}
				&_inactivo{
					width: auto;
					text-align: auto;
					height: auto;
					padding-top: auto;
				}
			}

			&__lista{
				&--formatoTexto{
					font-size: 4em;
					letter-spacing: 0.2em;
				}
			}
		}



	}
}